.about {
    background-image: url(../../img/bg_3.jpg);
    position: relative;
    z-index: 0;
    background-size: cover;
    padding: 7em 0;
    background-position-x: center;
}

.about::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: .8;
    background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
}

.about .right-section h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.about .right-section p {
    color: rgba(255, 255, 255, 0.9);
    text-align: justify;
}

.about .img {
    background-image: url(../../img/about-2.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about .video {
    width: 100%;
    position: relative;
}

.about .icon-video {
    width: 80px;
    height: 80px;
    background: #fff;
    box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 1);
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
}

.about .icon-video span {
    color: #fd5f00;
    font-size: 1.5em;
    text-indent: -5px;
}

.about .number {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    display: block;
}

.about .text {
    color: rgba(255, 255, 255, 0.8);
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@media (max-width: 767.98px) {
    .about .img {
        height: 300px;
    }

    .about .counter {
        margin-bottom: 30px;
    }

    .about h2 {
        font-size: 28px !important;
    }

    .about .right-section p {
        font-size: 14px !important;
    }
}

@media (max-width: 1199.98px) {
    .about {
        background-position: top center !important;
    }
}

/* .modal-backdrop{
  position: relative !important;
} */