.hero-wrap.hero-wrap-2 {
    height: 300px;
    background-image: url("../../img/1.jpg");
    margin-top: -15px;;
}
.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #f1453d;
}
.title-about {
    margin-top: 2em;
    font-weight: 900;
    color: #fff;
}
.title-p {
    color: #fff;
}