* {
    box-sizing: border-box;
}
.container-fluid {
    max-width: 1140px;
    background: #fafafa;
}
.head-blog h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card{
    border: none;
}
.card-body {
    background-color: #fff;
}
.card-img-top {
    max-width: 100%;
    object-fit: cover;
}

}
.card-body h4 {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.card-text {
    margin-top: 15px;
    text-align: justify;
}

.btn-primary {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff;
    padding:8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn-primary:hover {
    background: transparent;
    color: #fd5f00;
    border: 1px solid #fd5f00;
}
.fa-arrow-left {
    vertical-align: middle;
    margin-right: 3px;
}
.fa-comment-dots {
    color: #b3b3b3;
}
.card-link {
    vertical-align: middle;
}



     
    