* {
    box-sizing: border-box;
}
.card{
    border: none;
}
.date span::after{
    content: '';
    
    

}
.card-img-top {
    max-width: 100%;
    object-fit: cover;
}

}
.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.card-text {
    margin-top: 15px;
}

.text-footer {
    margin-top: 34px;
}
.btn-primary {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff;
    padding:8px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.btn-primary:hover {
    background: transparent;
    color: #fd5f00;
    border: 1px solid #fd5f00;
}
.fa-arrow-left {
    vertical-align: middle;
    margin-right: 3px;
}
.fa-comment-dots {
    color: #b3b3b3;
}
.color{
    color: #b3b3b3
}
.icon{
    margin-right: 4rem;
}


     
    