/*----------------category box slider-------------*/

a:link {
    text-decoration: none;
}

.bg-primary-color {
    background: #0d1128;
}

.bg-secondary-color {
    background: #ed5d29;
}

.card-item {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-item p {
    font-size: 14px;
    text-align: center;
}

.card-item .h5 {
    font-weight: bold;
    color: #ffffff;
}

@media all and (min-width: 576px) and (max-width: 991px) {
    .third-box {
        order: 1;
    }
}