.bg-footer {
    background-color: #232323;
}
.list-group ul i {
    vertical-align: middle;
    line-height: 3em;
    margin-left: 13px;
}
.media img {
    margin-left: 2em;
    max-width: 64px;
    max-height: 64px;
}
.media-body span i {
    vertical-align: middle;
    margin-left: 8px;
}
.footer-links ul li i {
    vertical-align: middle;
    margin-left: 4px;
}
.footer-links ul li i a {
    line-height: 2em;
}
