@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
    src: url("../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff");
    src: url("../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot");
    src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff");
    src: url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

body {
    font-family: "iranyekan";
    font-weight: 300;
}