@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'iranyekan';
    src: url('iranyekanwebboldfanum.eot');
    src: url('iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), url('iranyekanwebboldfanum.woff') format('woff'), url('iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: bold;
    src: url('iranyekanwebregularfanum.eot');
    src: url('iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), url('iranyekanwebregularfanum.woff') format('woff'), url('iranyekanwebregularfanum.ttf') format('truetype');
}