/*----------------main menu-------------*/

#slideshow .slide-item {
    height: 600px;
    transform: scale(.96);
    transition: .5s !important;
}

#slideshow .slide-item.slick-current {
    transform: scale(1);
}

#slideshow .slide-item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#slideshow .slide-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    opacity: 0.5;
    z-index: 10;
}

#slideshow .container {
    position: relative;
    height: 100%;
}

#slideshow .slide-item .item-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 20;
    padding: 30px;
}

#slideshow .slide-item .item-content .item-title {
    font-weight: bold;
    font-size: 2rem;
}

#slideshow .slide-item .item-content .item-description {
    max-width: 450px;
    font-size: .875rem;
    text-align: justify;
}

#slideshow .slide-item .item-content .item-button {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff;
}

#slideshow .slide-item .item-content .item-button:hover {
    background: white;
    border: 1px solid #fd5f00;
    color: #fd5f00;
}

#slideshow .slick-dots {
    bottom: 50px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

ul.slick-dots > li button::before {
    color: white;
    font-size: 20px;
    transition: .3s;
    opacity: .5;
}

ul.slick-dots > li.slick-active button::before {
    color: #fd6100;
}