.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0d1128;
    padding: 0 1rem;
}

.navigation_section ul {
    display: flex;
    padding: 0%;
    margin: 0%;
}

.navigation_section li {
    padding: .7rem;
    list-style-type: none;
}

.navigation_section a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
}

#select {
    color: #fd5f00;
    transition: .5s all ease;
}

#select:hover {
    color: white;
}

.navigation_section ul li a {
    color: white;
    font-size: 14px;
}

.formitem {
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    display: flex;
    margin: .5rem;
}

.formitem input,
button {
    border: none;
    background: transparent;
    font-size: 16px;
}

.formitem button {
    color: rgba(255, 255, 255, 0.7);
    width: 52px;
}

.formitem input {
    width: calc(100% - 52px);
    padding: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.formitem input:focus,
.formitem input :active {
    outline: unset;
}

.formitem button:focus,
.formitem button :active {
    outline: unset;
}