@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/iranyekan/eot/iranyekanwebregularfanum.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: "iranyekan";
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/iranyekan/eot/iranyekanwebboldfanum.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: "iranyekan";
    max-width: 3500px;
    margin: 0 auto;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
